body {
  padding: 0px;
  margin: 0px;
}
.tag2 {
  width: 30%;
  margin: 30px;
  padding: 15px;
  padding-top: 8px;
  float: center;
  border-radius: 80px 0px 80px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #0d6efd;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2em;
}
span {
  font-size: 25px;
}
.box {
  width: 50px;
  height: 150px;
  margin: 10px;
  display: grid;
  /* justify-content: center; */
  align-items: left;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
.box1 {
  background-color: blueviolet;
}
.box2 {
  background-color: lightseagreen;
}
.box3 {
  background-color: orange;
}
.box4 {
  background-color: tomato;
}

a {
  text-decoration: none;
}
.searchbar {
  border-radius: 2%;
  background-color: #0d6efd;
}
.decoration {
  margin: 0.8rem;
}
#quickLink {
  margin-bottom: 2rem;
}
.Hover {
  color: white;
  text-decoration: none;
}
.Hover2 {
  color: white;
}
.Hover:hover {
  color: orange;
}
.Hover2:hover {
  color: orange;
}
footer {
  color: white;
  background-color: #0275d8;
  padding-bottom: 0px;
}
/* #rightsReserved {
    color: white;
    font-size: 16px;
    display: grid;
    justify-content: center;
    padding-bottom: 5px;
} */
.spacing {
  padding-top: 50px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
#logoImg {
  display: grid;
  justify-content: center;
  margin-top: -10px;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
.agency_card {
  margin: 20px;
  width: 390px;
  height: 150px;
  border: "2px solid red";
}
.service_card {
  margin: 30px;
}
.service_card:hover {
  transform: scale(1.1, 1.1);
}
.cardScale:hover {
  transform: scale(1.1, 1.1);
}
.searchBar {
  width: 80%;
  height: 11rem;
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 70%;
  left: 0;
  bottom: 0;
  right: 0;
  /* box-shadow: 0px 0px 4px 4px white; */
  border-radius: 5px;
  outline: none;
  background-color: rgb(255, 255, 255, 0.5);
  /* backdrop-filter: blur(20px); */
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
}

.searchBar2 {
  width: 80%;
  height: 4rem;
  position: absolute;
  z-index: 1;
  margin: auto;
  top: -60%;
  left: 0;
  bottom: 0;
  right: 0;
  /* box-shadow: 0px 0px 4px 4px white; */
  border-radius: 5px;
  outline: none;
  /* background-color: rgb(255, 255, 255, 0.5);  */
  /* border-color: gray 1px; */
  /* backdrop-filter: blur(20px); */
  background-color: white;
  padding: 10px;
  /* margin-bottom: 30px; */
}
.styyle {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
}
.cntr {
  margin-top: 5px;
  justify-content: center;
  display: grid;
}
#searchButton {
  top: 2%;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 14px;
  margin-left: 10px;
}
.sign {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  left: 0;
  bottom: 0;
  right: 0;
  /* box-shadow: 0px 0px 5px 5px #0d6efd; */
  /* outline: 1px; */
  /* border-radius: 10px; */
  padding-top: 1.5rem;
}
.signin {
  width: 50%;
  height: 32rem;
}
.signup {
  width: 50%;
  height: 41rem;
}
#footerImg {
  width: 100%;
  opacity: 0.4;
}
.bdr {
  border: 1px solid gray;
}

.FormGroup {
  margin: 0 10px 15px;
  margin-top: 10px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;

  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 90%;
  padding: 11px 15px 11px 0;
  /* margin: auto; */
}
.tour-type {
  box-shadow: 0 2px 10px 0 rgb(153, 150, 150), 0 2px 10px 0 rgb(153, 150, 150);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 90%;
  height: 400px;
  padding: 1.5rem;
}
.expProvince {
  border-radius: 40px;
}
.titles {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 32%;
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 55px;
  color: white;
  text-align: center;
}
